<div data-control="toolbar">
    <a href="<?= Backend::url('autumn/blog/categories/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('autumn.blog::lang.categories.new_category')) ?></a>
</div>
