<?php if (!$this->fatalError): ?>

    <div class="layout fancy-layout">
        <?= Form::open([
            'class' => 'layout',
            'data-change-monitor' => 'true',
            'data-window-close-confirm' => e(trans('autumn.blog::lang.post.close_confirm')),
            'id' => 'post-form'
        ]) ?>
            <?= $this->formRender() ?>

        <?= Form::close() ?>
    </div>

<?php else: ?>
    <div class="control-breadcrumb">
        <?= Block::placeholder('breadcrumb') ?>
    </div>
    <div class="padded-container">
        <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        <p><a href="<?= Backend::url('autumn/blog/posts') ?>" class="btn btn-default"><?= e(trans('autumn.blog::lang.post.return_to_posts')) ?></a></p>
    </div>
<?php endif ?>
