<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item control-chart" data-control="chart-pie">
            <ul>
                <li data-color="#95b753"><?= e(trans('autumn.blog::lang.blog.chart_published')) ?> <span><?= $postsPublished ?></span></li>
                <li data-color="#e5a91a"><?= e(trans('autumn.blog::lang.blog.chart_drafts')) ?> <span><?= $postsDrafts ?></span></li>
                <li data-color="#cccccc"><?= e(trans('autumn.blog::lang.blog.chart_total')) ?> <span><?= $postsTotal ?></span></li>
            </ul>
        </div>
    </div>
</div>

<?= $this->listRender() ?>
