<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('autumn/blog/posts') ?>"><?= e(trans('autumn.blog::lang.blog.menu_label')) ?></a></li>
        <li><?= e(trans($this->pageTitle)) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="layout-item stretch layout-column">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('autumn/blog/posts') ?>" class="btn btn-default"><?= e(trans('autumn.blog::lang.post.return_to_posts')) ?></a></p>
<?php endif ?>
